-# .d-flex.align-items-center.justify-content-center
-#   %h1.text-center
-#     hoge
-#     .btn.btn-sm.btn-primary
-#       fuga
-# .hoge
-#   = image_tag 'happy_birthday.jpg', style: 'height:100%;width:auto;'

-# #clockdiv
-#   %div
-#     %span.days
-#     .smalltext= t(".days")
-#   %div
-#     %span.hours
-#     .smalltext= t(".hours")
-#   %div
-#     %span.minutes
-#     .smalltext= t(".minutes")
-#   %div
-#     %span.seconds
-#     .smalltext= t(".seconds")
.d-flex.align-items-center.justify-content-center.mystyle
  .fas.fa-birthday-cake
  #demo
  .fas.fa-birthday-cake
#hb.hide.d-flex.align-items-center.justify-content-center.mystyle
  = image_tag 'Cid.png', style: 'height:1000;width:auto;'